<div ng-app>
  <form method="POST" name="form" novalidate>
    <label for="title" class="">Title:</label>
    <input ng-required="true" ng-model="submission.title" name="title">

    <label for="name" class="">Your name:</label>
    <input ng-required="true" ng-model="submission.name" name="name">

    <label for="description" class="">Description:</label>
    <textarea ng-required="true" ng-model="submission.description" name="description"></textarea>

    <button ng-disabled="form.$invalid">Submit</button>
  </form>

</div>

<script src="/static/bower_components/angular/angular.js"></script>
