*.swp
.*.swp

.DS_Store
*~
.project
.settings
npm-debug.log
coverage.html
.idea
*.iml
lib-cov

selenium-server-standalone-*.jar
static-dist/*

.vagrant
config-production.js
newrelic.js
provisioning/private/*

node_modules/async-minihelper
node_modules/colors
node_modules/couchapp
node_modules/gulp
node_modules/gulp-less
node_modules/gulp-nodemon
node_modules/jshint
node_modules/lab
node_modules/wd
node_modules/request

facets/about/node_modules/lab
facets/about/node_modules/.bin/lab
facets/submissions/node_modules/lab
facets/submissions/node_modules/.bin/lab
services/data/node_modules/lab
services/data/node_modules/.bin/lab
