{{#each interests}}
  <a href="/interests/{{this.value._id}}">{{this.value.title}}</a>
{{/each}}

{{#each contributions}}
  <a href="/contributions/{{this.value._id}}">{{this.value.title}}</a>
{{/each}}
