<div class="text-center">
  <h2 class="error-msg">{{msg}} How about a Pong match?</h2>
</div>

<div class="canvas-container center-block">
  <canvas id="c" width="400" height="300"></canvas>
  <div class="text-center">
    <p>Hint: use the arrow keys and A & Z for player 2</p>
  </div>
</div>

<script src="/static/basic-theme/external/pong.js/pong.js"></script>
