@import "../../bower_components/bootstrap/less/variables.less";

@icon-font-path: "../../bower_components/bootstrap/fonts/";

@import "../../bower_components/bootstrap/less/mixins.less";
@import "../../bower_components/bootstrap/less/normalize.less";
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/responsive-utilities.less";
@import "../../bower_components/bootstrap/less/utilities.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/buttons.less";
@import "../../bower_components/bootstrap/less/jumbotron.less";
@import "../../bower_components/bootstrap/less/alerts.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/glyphicons.less";

footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: @brand-primary;
  color: #fff;

  a {
    color: #fff;
  }
}

.text-glyphicon {
  font-size: 20px;
  top: 4px;
}

.text-center {
  text-align: center;
}

.canvas-container {
  width: 400px;
  height: 300px;
}

canvas {
  border: 1px solid black;
}
