<ul>
  <li><a href="#submit-talk">How does submitting a talk work?</a></li>
  <li><a href="#cfp-talk">When and how do I get a response if I am invited to give a talk?</a></li>
</ul>

<h2 id="submit-talk">How does submitting a talk work?</h2>
<p>
You can even submit your talks ad-hoc in the <a href="#submit-talk">
mornings of the event</a>. We are additionally offering an application
called "Contributions & Interests" where you can submit your talk in
advance. This has several advantages, as we then have your proposal
preprinted on our sheets that are used for voting. Additionally other
participants can contact you in advance and you can prepare the talk
together. The application also has an option to submit interests:
attendees can see the interests of other attendees and can prepare a
talk for the topic in advance.
<br/>
<br/>
"Contributions & Interests" also allows giving a +1 on talks. The "+1"
are not counted for the final votes during the event but are helpful
indicators for contributors which submitted one or multiple talks.
For details on the actual voting during the Unconf,
<a href="#cfp-talk">see our section about voting</a>.
</p>

<h2 id="cfp-talk">When and how do I get a response if I am invited
to give a talk?</h2>
<p>
We don't create a schedule in advance for the Unconference. Every
attendee can even submit a talk last-minute in the morning of the
two days the Unconference happens! On both days all potential speaker
give a short (~1min) proposal of their talk in front of the audience.
Then everyone votes which talks they are interested in. We then prepare
a schedule from the talks with the most votes.
</p>
